.detail-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: Arial;
}

.detail-wrapper {
    display: flex;
    gap: 40px;
}

/* LEFT IMAGE */
.detail-left {
    width: 45%;
    position: relative;
}
.main-image img {
    width: 100%;
    border-radius: 10px;
}

.image-icons {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.image-icons i {
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 5px #ccc;
}

/* RIGHT INFO */
.detail-right {
    width: 55%;
}

.sp-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sp-price {
    font-size: 22px;
    margin: 15px 0;
}
.sp-price del {
    color: #777;
    margin-right: 10px;
}
.sp-price ins {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

/* SIZE BOX */
.size-container p {
    font-weight: bold;
}
.sizes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.size-item {
    padding: 8px 18px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}
.size-item.active {
    background: #333;
    color: #fff;
}

/* QTY */
.qty-container {
    margin-top: 20px;
}
.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.qty-box button {
    width: 35px;
    height: 35px;
    border: none;
    background: #eee;
    cursor: pointer;
    font-size: 20px;
}
.qty-box input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    height: 35px;
}

/* BUTTONS */
.btn-group {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}
.btn-add {
    background: #333;
    color: #fff;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
}
.btn-buy {
    background: red;
    color: #fff;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
}

/* SUPPORT BOX */
.support-box {
    margin-top: 25px;
    padding: 15px;
    border: 1px solid #ffb3b3;
    background: #fff7f7;
    border-radius: 6px;
    line-height: 1.6;
}

/* ACCORDION */
.accordion {
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.acc-item {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.acc-item:last-child {
    border-bottom: none;
}

/* REVIEW SECTION */
.review-section {
    margin-top: 50px;
}
.review-section h2 {
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}

.review-section p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.review-section .stars {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.review-section .stars i {
    font-size: 30px;
    color: #ccc;
    margin: 10px auto;
    margin-right: 4px;
    width: 10%;
    text-align: center;
}
.review-section textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 10px 0;
}
.review-inputs {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 10px;
}
.review-inputs input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.review-btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px 0;
    background: #ff0000;
    color: #fff;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}
.review-btn:hover {
    background: #cc0000;
}