body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* PAGE BANNER */
.page-banner {
    background: linear-gradient(90deg, #0066ff, #33ccff);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

/* HEADER */
.header {
    background: #111;
    color: white;
    /* position: fixed; */
    z-index: 1000;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo img {
    height: 50px;
}

/* NAV */
.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
}

.nav a:hover {
    color: red;
}

/* DROPDOWN */
.dropdown {
    position: relative;
    z-index: 999;
}

.dropdown-menu {
    position: absolute;
    z-index: 999;
    top: 40px;
    left: 0;
    background: white;
    color: #000;
    padding: 15px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    min-width: 180px;
}

.dropdown-menu.large {
    display: none;
    position: absolute;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    min-width: 600px;
}

.dropdown-menu a {
    color: black;
    padding: 5px 0;
}

.dropdown-menu h4 {
    margin: 0 0 10px 0;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

/* ICONS */
.icons a {
    color: white;
    margin-left: 20px;
    font-size: 18px;
}

.free-ship {
    background: #808080;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-weight: 750;
    font-style: italic;
    word-spacing: 2px;
  }

.slider {
    width: 100%;
    height: 550px;
    overflow: hidden;
    position: relative;
}

.slider img {
    position: absolute;
    width: 100%;
    height: 550px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider img.active {
    opacity: 1;
}

/* FOOTER */
.footer {
    background: #111;
    color: white;
    padding: 40px 150px;
    font-family: 'Poppins', sans-serif;
}

/* NEWSLETTER BLOCK */
.footer-news {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.news-left h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.news-left p {
    margin: 8px 0 20px 0;
    color: #ccc;
}

.newsletter-box {
    display: flex;
    width: 350px;
}

.newsletter-box input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.newsletter-box button {
    background: #fff;
    border: none;
    padding: 0 18px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.news-right p {
    font-size: 15px;
    margin: 5px 0;
}

.social-links i {
    font-size: 25px;
    margin-right: 15px;
    cursor: pointer;
}

/* LINE */
.footer-line {
    border: none;
    border-bottom: 1px solid #333;
    margin: 25px 0;
}

/* FOOTER CONTENT */
.footer-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-col {
    width: 20%;
}

.footer-col h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}

.footer-col a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-col a:hover {
    color: #ff0000;
}

.footer-col p {
    color: #ccc;
    font-size: 14px;
}

/* FOOTER BOTTOM */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    /* text-align: center; */
    color: #ccc;
}

.footer-bottom img {
    margin-top: 15px;
    height: 60px;
}

.home-container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    font-family: Poppins, sans-serif;
}

.category-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.gender-switch {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.gender-switch button {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    color: #777;
}

.gender-switch button.active {
    color: #000;
    border-bottom: 2px solid #000;
}

.category-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.category-slider::-webkit-scrollbar {
    height: 5px;
}

.category-slider::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.cate-item {
    min-width: 220px;
    text-align: center;
}

.cate-item img {
    width: 100%;
    border-radius: 14px;
}

.cate-item p {
    margin-top: 6px;
    font-weight: 600;
    font-size: 16px;
}
